.contenedor{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    border: solid 2px black;
    animation-name: prueba1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes prueba1{
    from {background-color: cornflowerblue;}
    to {background-color: coral;}
}

.movimiento{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    border: solid 2px black;
    position: relative;
    animation-name: prueba2;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes prueba2 {
    0%   {background-color: cornflowerblue; left: 0px; top: 0px;}
    25%  {left: 200px; top: 0px;}
    50%  {left: 200px; top: 200px;}
    75%  {left: 0px; top: 200px;}
    100% {background-color: coral; left: 0px; top: 0px;}
  }